html{
  font-size: 10px;
}

body{
  font-family: sans-serif;
  background-color: lightblue;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,ol{
  list-style-type: none;
}

.Principal{
  display: flexbox;
  margin-top: 5%;
  margin-left: 10%;
  width: 100%;
  padding-bottom: 30%;
}

.Header1{
  font-size: 70px;
}

.Lista1{
  font-size: 20px;
  margin-top: 30px;
}

li{
  font-size: 30px;
  margin-bottom: 10px;
}

.Text{
  float:left;
}

.Imagine{
  float: right;
  padding-right: 20%;
  border-radius: 50%;
}

.Logos{
  margin: 0.5%;
}