html{
  font-size: 10px;
}

body{
  font-family: sans-serif;
  background-color: lightblue;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,ol{
  list-style-type: none;
}

.Principal{
  margin-top: 10%;
  margin-left: 10%;
  width: 100%;
}

.Header1{
  font-size: 70px;
}

.Lista1{
  font-size: 20px;
  margin-top: 30px;
}

li{
  font-size: 30px;
  margin-bottom: 10px;
}

.Imagine{
  margin-left: 800px;
  border-radius: 50%;
}